header {
    position: relative;
}

div.diagram {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 1px;
}

h1.comp_name {
    position: relative;
    margin-bottom: 37px;
    margin-top: 0px;
    left: 500px;
}
fieldset.login {
    display: inline-block;
    position: absolute;
    left: 940px;
    padding-right: 50px;
    bottom: 70px;
}

input.login_input {
    position: absolute;
    bottom: 11px;
    left: 250px;
    height: 42px;
    width: 42px;
    border-radius: 50px;
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:  10px;
    
}
}

.search {
    position: absolute;
    top: 125px;
}

span.menu {
    position: relative;
    left: 467px;
    bottom: 37px;
}

.stick_head ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stick_head li {
    float: left;
}

.stick_head li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.stick_head li a:hover {
    background-color: #111;
}

.search_icon{
    float: right;
}

.active {
    background-color: #4CAF50;
}

i {
    color: white;
}

i.black{
    color: black;
    font-size: 35px;
}