header {
    position: relative;
}

div.diagram {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 1px;
}

h1.comp_name {
    position: relative;
    margin-bottom: 37px;
    margin-top: 0px;
    left: 500px;
}

form.login {
    display: none;
    background-color: #f5f5f5;
    position: absolute;
    bottom: 53px;
    left: 300px;
    padding: 10px 50px 10px 10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

input.login_input {
    position: absolute;
    bottom: 18px;
    left: 253px;
    height: 42px;
    width: 42px;
    border-radius: 50px;
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:  10px;
}

span.menu {
    position: relative;
    left: 467px;
    bottom: 37px;
}

.stick_head ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stick_head li {
    float: left;
}

.stick_head li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.stick_head li a:hover {
    background-color: #111;
}

.active {
    background-color: var(--btn-color);
}

i {
    color: white;
}

i.black{
    color: black;
    font-size: 35px;
}

div.stick_head {
    position: sticky;
    top: 0;
}

.search {
    display: none;
    position: absolute;
    left: 289px;
    background: white;
    padding: 1px;
}

li.search_icon a:hover .search{
    display: block;
}

.x {
    position: absolute;
    left: 95%;
    bottom: 75%;
}

.x:hover {
    color: orange;
}