main {
    position: relative;
}

img.img_abt{
    height: 180px;
    width: 280px;
    position: absolute;
    left: 850px;
}

p {
    position: relative;
    margin: 0px 0px 45px;
}

main div {
    position: relative;
    top: 40px;
}