main {
    position: relative;
}

img.img_abt{
    height: 180px;
    width: 280px;
    position: absolute;
    left: 735px;
}

p {
    position: relative;
    margin: 0px 0px 60px;
}

main div {
    position: relative;
    top: 60px;
}