img.comp_logo {
    position: relative;
    top: 14px;
    display: inline-block;
    width: 50px;
    height: 50px;
}

h1.comp{
    display: inline-block;
}

h3 {
    display: inline-block;
    margin-right: 75px;
}